In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy
import csv
import itertools

In [2]:
device_df = pd.read_pickle("device_dummies.pkl")

In [3]:
device_df.head()

,drawbridge_handle,device_id,device_type,device_os,anonymous_c0,anonymous_c1,anonymous_c2,anonymous_5,anonymous_6,anonymous_7,...,anonymous_c1_990,anonymous_c1_991,anonymous_c1_992,anonymous_c1_993,anonymous_c1_994,anonymous_c1_995,anonymous_c1_996,anonymous_c1_997,anonymous_c1_998,anonymous_c1_999
0,handle_292447,id_1000002,devtype_2,devos_138,1,anonymous_c1_331,anonymous_c2_23084,34,1,204,...,0,0,0,0,0,0,0,0,0,0
1,handle_1272807,id_1000061,devtype_2,devos_157,0,anonymous_c1_1350,anonymous_c2_3147,51,1,203,...,0,0,0,0,0,0,0,0,0,0
2,handle_1644226,id_1000068,devtype_2,devos_157,0,anonymous_c1_1166,anonymous_c2_11093,41,1,204,...,0,0,0,0,0,0,0,0,0,0
3,handle_1634852,id_1000149,devtype_4,devos_133,1,anonymous_c1_1260,anonymous_c2_2456,10,25,198,...,0,0,0,0,0,0,0,0,0,0
4,handle_1189159,id_1000202,devtype_4,devos_7,0,anonymous_c1_917,anonymous_c2_19317,5,1,204,...,0,0,0,0,0,0,0,0,0,0

In [4]:
device_df = device_df.drop('anonymous_c1', 1)

In [5]:
device_df.head()

,drawbridge_handle,device_id,device_type,device_os,anonymous_c0,anonymous_c2,anonymous_5,anonymous_6,anonymous_7,-1,...,anonymous_c1_990,anonymous_c1_991,anonymous_c1_992,anonymous_c1_993,anonymous_c1_994,anonymous_c1_995,anonymous_c1_996,anonymous_c1_997,anonymous_c1_998,anonymous_c1_999
0,handle_292447,id_1000002,devtype_2,devos_138,1,anonymous_c2_23084,34,1,204,0,...,0,0,0,0,0,0,0,0,0,0
1,handle_1272807,id_1000061,devtype_2,devos_157,0,anonymous_c2_3147,51,1,203,0,...,0,0,0,0,0,0,0,0,0,0
2,handle_1644226,id_1000068,devtype_2,devos_157,0,anonymous_c2_11093,41,1,204,0,...,0,0,0,0,0,0,0,0,0,0
3,handle_1634852,id_1000149,devtype_4,devos_133,1,anonymous_c2_2456,10,25,198,0,...,0,0,0,0,0,0,0,0,0,0
4,handle_1189159,id_1000202,devtype_4,devos_7,0,anonymous_c2_19317,5,1,204,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
device_df = device_df.drop('device_os', 1)

In [7]:
device_df = device_df.drop('device_type', 1)

In [8]:
device_df.head()

,drawbridge_handle,device_id,anonymous_c0,anonymous_c2,anonymous_5,anonymous_6,anonymous_7,-1,country_1,country_101,...,anonymous_c1_990,anonymous_c1_991,anonymous_c1_992,anonymous_c1_993,anonymous_c1_994,anonymous_c1_995,anonymous_c1_996,anonymous_c1_997,anonymous_c1_998,anonymous_c1_999
0,handle_292447,id_1000002,1,anonymous_c2_23084,34,1,204,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,handle_1272807,id_1000061,0,anonymous_c2_3147,51,1,203,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,handle_1644226,id_1000068,0,anonymous_c2_11093,41,1,204,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,handle_1634852,id_1000149,1,anonymous_c2_2456,10,25,198,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,handle_1189159,id_1000202,0,anonymous_c2_19317,5,1,204,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
device_df = device_df.drop('anonymous_c0', 1)

In [10]:
device_df = device_df.drop('drawbridge_handle', 1)

In [11]:
device_df.head()

,device_id,anonymous_c2,anonymous_5,anonymous_6,anonymous_7,-1,country_1,country_101,country_103,country_104,...,anonymous_c1_990,anonymous_c1_991,anonymous_c1_992,anonymous_c1_993,anonymous_c1_994,anonymous_c1_995,anonymous_c1_996,anonymous_c1_997,anonymous_c1_998,anonymous_c1_999
0,id_1000002,anonymous_c2_23084,34,1,204,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,id_1000061,anonymous_c2_3147,51,1,203,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,id_1000068,anonymous_c2_11093,41,1,204,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,id_1000149,anonymous_c2_2456,10,25,198,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,id_1000202,anonymous_c2_19317,5,1,204,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
device_df.to_pickle("dummies_before_anon_c2.pkl")

In [ ]:
device_df = pd.concat([device_df, pd.get_dummies(device_df['anonymous_c2'])], axis=1)